body {

    background-image: url(./wp.png);
    background-repeat: no-repeat; 
    color: white;
    margin: 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

section {

    display: flex; 
    flex-wrap:wrap;
    justify-content:left;
}

h1 { 
    
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 50px;
   margin-top: 0;
   font-size: 45px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


P {

    color: white;
    padding-left: 200px;
    font-family:cursive;
    font-size: 25px;
}

a{

    text-decoration: none;
}